/*特殊nav*/
.nav-control{
    .nav{
        width: 90%;
        margin: auto;
        border-bottom: 3px solid #c7161c;
        line-height: 40px;
        .type{
            background-color: #c7161c;
            height: 40px;
            text-align:center;
            color: white;
            font-size: 15px;
            letter-spacing:3px;
        }
        .type :hover{
            
        }
        .menu{
            .el-menu{
                background-color: white;
                padding-left:50px;
                height: 40px;
            }
            .el-menu-item{
                height: 40px;
                line-height: 40px;
            }
            .el-menu--horizontal>.el-menu-item:hover, .el-menu--horizontal>.el-submenu.is-active .el-submenu__title, .el-menu--horizontal>.el-submenu:hover .el-submenu__title {
                border-bottom: 3px solid #c7161c;
                color: #c7161c;
                background-color: white;
            }
            .el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item.is-active, .el-menu-item.is-active{
                border-bottom: 3px solid #c7161c;
                color: #c7161c;
                background-color: white;
            }
        }
        .nav-type{
            width: 30px;
        }
    }   
    .picScroll{
        width: 100%;
        height: 450px;
        margin-bottom: 50px;
        position: relative;
        .zhezhao{
            margin-left: 5% !important;
            width: 90% !important;
            height: 450px !important;
            position: absolute;
            z-index: 999;
            .nav-left{
                filter:alpha(Opacity=90);-moz-opacity:0.9;opacity: 0.9;
                background-color: #000000 !important;
                height: 450px !important;
                ul{
                    text-align: center;
                    letter-spacing:3px;
                    padding-left: 0 !important;
                }
                ul li{
                    list-style: none;
                    padding:20px 0 ;
                    border-bottom: dashed 1px white;
                    -webkit-transition: background 0.8s linear;/*Safari or Chrome*/
                    -moz-transition: background 0.8s linear;/*Firefox*/
                    -ms-transition: background 0.8s linear;/*IE9*/
                    -o-transition: background 0.8s linear;/*Opera*/
                    transition: background 0.8s linear;/*默认w3c*/
                    
                }
                ul li:hover{
                    font-size: 15px;
                    color: black;
                    background-color: white;
                }
                
                ul li a{
                    color: white;
                    text-decoration: none;
                }
                ul li a:hover{
                    color: black;
                    text-decoration: none;
                }
            }
            .nav-middle{
                background: white;
                filter:alpha(Opacity=0);-moz-opacity:0;opacity: 0;
            }
            .nav-middle-show{
                height: 450px !important;
                background: white;
                filter:alpha(Opacity=90);-moz-opacity:0.9;opacity: 0.9;
            }
        }
    }
}